@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #111111;
}

li,
a,
button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 75px;
    padding: 50px 20%;
    color: #ffffff;
    text-align: center;
}

h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 50px;
    padding: 50px 20%;
    color: #ffffff;
    text-align: center;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 30px 20%;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20%;
    background-color: #111111;
}

.categoryimage {
    display: flex;
    padding: 30px 20%;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style: none;
    display: flex;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #114d1e;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #ffffff;
    color: #111111;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #02441d;
    color: #111111;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20%;
}

.search-bar input[type=text] {
    flex: 1;
}

.search-bar a.active {
    background-color: #1e4c0c;
    color: white;
}

.button {
    background-color: #02441d;
    border: none;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

.carousel__image {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.carousel__track-container {
    background: #1c6000;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left {
    left: -40px;
}

.carousel__button--right {
    right: -40px;
}


.carousel__button img {
    width: 12px;
    background: transparent;
}


.carousel__nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgb(255, 255, 255);
    margin: 0 12px;
    cursor: pointer;
    border-radius: 1.5rem;
}

.carousel__indicator.current-slide {
    background: #02441d;
}

#tagline {
    margin-left: auto;
    margin-right: auto;
}

.recipeimage{
    padding: 0;
    margin: 0;
    width: 25%;
    vertical-align: top;
}

.recipeparagraph{
    width: 2500px;
    padding: 0;
    margin: 0;
    text-align: center;
}