<html>

<head>
    <meta charset="UTF-8">
    <title>Page Not Found!</title>
    <link rel="stylesheet" href="/css/error.css">
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}" href="images/favicon.png" />
</head>

<body>
    <nav>
        <ul class="nav_links">
            <li><a href="/about.html">About</a></li>
            <li><a href="/posts.html">Posts</a></li>
            <li><a href="/recipes.html">Recipes</a></li>
        </ul>
    </nav>
    <div class="container">
        <div>
            <h1>Oops!</h1>
            <p>Something went wrong... maybe try reloading the page?</p>
        </div>
        <img src="/images/Shrugging.png" alt="Shrugging image">
    </div>
</body>

</html>