<!DOCTYPE html>
<div class="recipelist" th:unless="${#lists.isEmpty(allRecipes)}">

    <h2 th:text="#{title.list}">List of Recipes</h2>

    <table>
        <thead>
            <tr>
                <th th:text="#{recipe.foodname}">Food Name</th>
                <th th:text="#{recipe.foodname}">Food Name</th>
                <th th:text="#{recipe.foodname}">Food Name</th>
                <th th:text="#{recipe.foodname}">Food Name</th>
                <th th:text="#{recipe.foodname}">Food Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="sb : ${allrecipes}">
                <td th:text="${{sb.datePlanted}}">13/01/2011</td>
                <td th:text="#{|bool.${sb.covered}|}">yes</td>
                <td th:text="#{|recipe.type.${sb.type}|}">Wireframe</td>
                <td th:text="${#strings.arrayJoin(
                             #messages.arrayMsg(
                                 #strings.arrayPrepend(sb.features,'recipe.feature.')),
                             ', ')}">Electric Heating, Turf</td>
                <td>
                    <table>
                        <tbody>
                            <tr th:each="row,rowStat : ${sb.rows}">
                                <td th:text="${rowStat.count}">1</td>
                                <td th:text="${row.variety.name}">Thymus Thymi</td>
                                <td th:text="${row.seedsPerCell}">12</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</html>