<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="${post.title}"></title>
    <link rel="stylesheet" th:href="@{/css/article.css}" href="../static/css/article.css"/>
  </head>

  <body>
    <header>
      <img class="logo" src="../static/images/LifeDexLogoSmall.png" width="120px" alt="LifeDex Logo" />
  
      <nav>
        <ul class="nav_links">
          <li><a href="/about.html">About</a></li>
          <li><a href="/posts.html">Posts</a></li>
          <li><a href="/recipes.html">Recipes</a></li>
        </ul>
      </nav>
  
  
      <a class="cta" href="/search.html"><button>Search</button></a>
    </header>
    
    <h1 th:text="${post.title}"></h1>
    <img th:src="@{/images/article/post.png}" alt="Post Image"/>
    <p th:text="${post.content}"></p>

    <p>
      By <span th:text="${post.authorFirst}"></span> <span th:text="${post.authorLast}"></span>
    </p>

    <p>
      Created on
      <span th:text="${#dates.format(post.creationDate, 'yyyy-MM-dd HH:mm')}"></span>
    </p>

    <p>
      Last modified on
      <span th:text="${#dates.format(post.lastModified, 'yyyy-MM-dd HH:mm')}"></span>
    </p>

    <a href="/posts" id="ParentRedirect">Back to Posts</a>

    <script th:src="@{/js/article.js}"></script>
  </body>
</html>
