<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <title th:text="${recipe.title}"></title>
    <link rel="stylesheet" th:href="@{/css/recipesTemplate.css}" />
    <link rel="icon" type="image/png" th:href="@{/images/favicon.png}" />
  </head>

  <body>
    <header>
      <a href="/index.html">
        <img
          class="logo"
          th:src="@{/images/LifeDexLogoSmall.png}"
          width="120px"
          alt="LifeDex Logo"
        />
      </a>

      <nav>
        <ul class="nav_links">
          <li><a href="/about.html">About</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/recipes">Recipes</a></li>
        </ul>
      </nav>

      <a class="cta" href="/search.html"><button>Search</button></a>
    </header>

    <h1 th:text="${recipe.title}"></h1>
    <p class="meta-info">
      By <span th:text="${recipe.authorFirst}"></span>
      &bull; Last modified on
      <span
        th:text="${#temporals.format(recipe.lastModified, 'MM-dd-yyyy HH:mm')}"
      ></span>
    </p>
    <img
      class="post-image"
      th:src="@{'/images/recipes/' + ${recipe.id} + '.png'}"
      alt="Post Image"
    />

    <div class="info-container">
      <div class="ingredients">
        <h2>Ingredients</h2>
        <ul>
          <li
            th:each="ingredient : ${recipe.ingredients}"
            th:text="${ingredient}"
          ></li>
        </ul>
      </div>
      <div class="additional-info">
        <h2>Info</h2>
        <p>Cook Time: <span th:text="${recipe.cookTime}"></span> minutes</p>
        <p>Calories: <span th:text="${recipe.calories}"></span> kcal</p>
        <p>Cuisine: <span th:text="${recipe.cuisine}"></span></p>
        <p>Yield: <span th:text="${recipe.yield}"></span> servings</p>
      </div>
    </div>

    <p class="post-description" th:text="${recipe.content}"></p>

    <script href="../static/js/article.js"></script>
  </body>
</html>
